<nz-layout>
    <nz-header>
      <div class="logo">
        <img src="../../../assets/logosiro.png" width="120" height="50">
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="ingreso">Formulario</li>
        <li nz-menu-item routerLink='listado'>Listado</li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Paúl Vizuete <a href="https://siro.ec" target="_blank">https://siro.ec</a> </nz-footer>
  </nz-layout>