[nz-form] {
    max-width: 600px;
  }

  button {
    margin-left: 8px;
  }
  .invisible{
    /* display: none; */
    visibility: hidden;
  }
  .visible{
    /* display: inline; */
    visibility:initial;
  }
  input.ng-invalid.ng-touched{
    border: 1px solid tomato;
  }